img {
    width: 100%;
    margin-top: 10px;
}

.downsize {
    max-height: 30%;
}

p {
    font-size: 12px;
    padding-top:10px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify left;
}

.headertext {
    position: absolute;
    left: 50%;
    z-index: 1;
    color: white;
    font-family: lato;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    background-color: rgba(255,255,255,0.5);
    width: 100%
}

.video {
    display: block;
    margin: 50px auto;
    width: 100%;
    
}

button {
    background-color: rgba(255,255,255,0.5);
    border: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 10px;
    color: #151e25;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgba(255,255,255,0.8);
}

.buy {
    background-color: #141b23;
    color: white;
    font-size: 12px;
    margin: 0px;
    width:100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-family: lato;
}

.buy:hover {
    background-color: #09080d;
}

.hide {
    background-color: rgba(255,255,255,0.5);
    font-size: 12px;
    box-shadow: 0px 5px 2px #888888;
}

ol {
    font-size: 14px;
    text-transform: lowercase;
    margin-top: 10px;
}

li:first-letter {
    text-transform: uppercase;
}

iframe {
    margin: 0px;
    padding: 0px;
    width: 100%
}

.balk {
    background-color: rgba(255,255,255,0.5);
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
    position: fixed;
    z-index: 1;


}

h2 {
    float:right;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
}


footer {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    color: rgba(255,255,255,0.6);
    margin: 0px;
    font-size: 10px;
}

.icon {
    width:20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: right;
    float: right;
    position: relative;
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body {
        background-image: url(style-img/background4.jpg);
    }
    
    .icon {
        width:30px;
        height: 30px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    p {
        font-size: 14px;
        padding-top:10px;
        padding-left: 12px;
        padding-right: 12px;
        text-align: justify left;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}